@import "./Variables.css";

/* ALIGNMENT */

.row {
  display: flex;
}
.row.center {
  justify-content: center;
}

.row.right {
  justify-content: flex-end;
}

.column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.column.center {
  align-items: center;
}

.column.right {
  align-items: flex-end;
}

.column.gap,
.row.gap {
  gap: 16px;
}

.column.gap-s,
.row.gap-s {
  gap: 8px;
}

.p {
  padding: 16px;
}

.p-s {
  padding: 8px;
}

.p-l {
  padding: 24px;
}

/* COLORS */

.text-color-error {
  color: var(--color-error);
}

/* UTILS */

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

ul.ul-no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* typography */
.content > h4 {
  margin-bottom: 8px;
  margin-top: 8px;
}
